## Monster.com Dataset

https://www.kaggle.com/datasets/everydaycodings/produce-prices-dataset/data

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [36]:
df = pd.read_csv('C:/Users/tina_/OneDrive/Documents/Data Science & AI/iod/Practice/monster_com-job_sample.csv')

In [37]:
df.head()

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
0,United States of America,US,NaN,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,United States of America,US,NaN,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,United States of America,US,NaN,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,United States of America,US,NaN,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,United States of America,US,NaN,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

In [21]:
df.shape

(22000, 14)

In [22]:
df.isnull().sum()

country                0
country_code           0
date_added         21878
has_expired            0
job_board              0
job_description        0
job_title              0
job_type            1628
location               0
organization        6867
page_url               0
salary             18554
sector              5194
uniq_id                0
dtype: int64

In [23]:
df.describe()

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
count,22000,22000,122,22000,22000,22000,22000,20372,22000,15133,22000,3446,16806,22000
unique,1,1,78,1,1,18744,18759,39,8423,738,22000,1737,163,22000
top,United States of America,US,9/22/2016,No,jobs.monster.com,12N Horizontal Construction Engineers Job Desc...,Monster,Full Time,"Dallas, TX",Healthcare Services,http://jobview.monster.com/it-support-technici...,"40,000.00 - 100,000.00 $ /year",Experienced (Non-Manager),11d599f229a80023d2f40e7c52cd941e
freq,22000,22000,6,22000,22000,104,318,6757,646,1919,1,50,4594,1

In [38]:
df = df.drop(columns = ['country','date_added','job_board','uniq_id','page_url'])
df.columns

Index(['country_code', 'has_expired', 'job_description', 'job_title',
       'job_type', 'location', 'organization', 'salary', 'sector'],
      dtype='object')

In [39]:
df.head()

,country_code,has_expired,job_description,job_title,job_type,location,organization,salary,sector
0,US,No,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,NaN,IT/Software Development
1,US,No,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,NaN,NaN
2,US,No,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,NaN,NaN
3,US,No,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,NaN,Experienced (Non-Manager)
4,US,No,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,NaN,Project/Program Management

In [31]:
df['job_title'].value_counts()

job_title
Monster                                                 318
Shift Supervisor Job in Camphill                        256
RN                                                       70
Shift Supervisor - Part-Time Job in Camphill             56
Manager                                                  50
                                                       ...
Sales Job in Knoxville                                    1
Merchandiser Job in Madison                               1
Retail Project Merchandiser Part Time Job in Madison      1
Senior Windows Systems Administrator* Job in Madison      1
Contract Administrator Job in Cincinnati                  1
Name: count, Length: 18759, dtype: int64

In [48]:
df['job_type'].value_counts()

job_type
Full Time                                        16734
Full Time Temporary/Contract/Project              1062
Full Time, Temporary/Contract/Project              533
Full Time , Employee                               406
Part Time Employee                                 382
Part Time                                          329
Part Time, Employee                                196
Temporary/Contract/Project                         193
Employee                                           147
Full Time / Employee                               121
Full Time , Temporary/Contract/Project              56
Part Time, Temporary/Contract/Project               34
Per Diem, Employee                                  29
Per Diem                                            22
Job Type Full Time Employee                         19
Part Time Seasonal                                  17
Part Time/ Temporary/Contract/Project               16
Full Time                                           14
Full Time/ Employee                                 13
Per Diem Employee                                   12
Part Time Temporary/Contract/Project                 6
Full Time Intern                                     5
Per Diem, Temporary/Contract/Project                 4
Part Time , Employee                                 4
Job Type Full Time Temporary/Contract/Project        2
Part Time / Employee                                 2
Job Type Full Time                                   2
Part Time Intern                                     2
Job Type Part Time Employee                          2
Job Type Employee                                    1
Full Time / > Employee                               1
Part Time                                            1
Full Time  Employee                                  1
Full Time / Temporary/Contract/Project               1
Part Time, Intern                                    1
Part Time , Temporary/Contract/Project               1
Exempt                                               1
Name: count, dtype: int64

In [47]:
replacements = {'Full Time Employee': 'Full Time', 'Full Time, Employee': 'Full Time', 'Full Time Temporary/Contract/Project': 'Full Time}
df['job_type'] = df['job_type'].replace(replacements)

SyntaxError: unterminated string literal (detected at line 1) (598539081.py, line 1)

In [34]:
df['location'].value_counts()

location
Dallas, TX               646
Cincinnati, OH           384
Columbus, OH             345
Camphill, PA             333
Dallas, TX 75201         304
                        ...
Audubon, PA 19403          1
Goshen, IN                 1
Cheektowaga, NY 14225      1
Northport, AL 35476        1
Bellevue, KY               1
Name: count, Length: 8423, dtype: int64

In [40]:
df['salary'].value_counts()

salary
40,000.00 - 100,000.00 $ /year                                          50
Commensurate with Experience                                            38
50,000.00 - 60,000.00 $ /year                                           32
75,000.00 - 85,000.00 $ /year                                           27
40,000.00 - 50,000.00 $ /year                                           26
                                                                        ..
0.00 - 85,000.00 $ /yearbonuses, relocation money, etc                   1
80,000.00 - 95,000.00 $ /yearBenefits, Competitive Bonus, Relocation     1
$85.00+ /year                                                            1
34.00+ /hour                                                             1
40,000.00 - 46,000.00 $ /year+ annual bonus (up to 15% of salary)        1
Name: count, Length: 1737, dtype: int64

In [ ]:
# salary_bands?

In [43]:
df.salary

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
                               ...
21995                 120,000.00 - 160,000.00 $ /yearbonus
21996                        45,000.00 - 60,000.00 $ /year
21997                                                  NaN
21998                                25.00 - 28.00 $ /hour
21999    40,000.00 - 46,000.00 $ /year+ annual bonus (u...
Name: salary, Length: 22000, dtype: object